* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  gap: 100px;
  justify-content: center;
}

#datetime-picker {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

button[data-start] {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.error-block {
  position: fixed;
  top: 50px;
  right: 50px;

  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 200px;
  background-color: rgba(255, 85, 73, 0.9);

}


.error-message {
  text-align: center;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
  margin: 0;
}

.success-block {
  position: fixed;
  top: 50px;
  right: 50px;

  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 200px;
  background-color: rgba(93, 189, 55, 0.9);

}


.success-message {
  text-align: center;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
  margin: 0;
}